body {
    background-color: rgb(243, 252, 243);
}

h1 {
    align-content: center;
    padding: 30px;
}

.price{
    display: flex;
}

.products {
    padding: 10px;
}

.prod_list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: nowrap;
    padding-bottom: 50px;
}

.prod_list img {
    display: flex;
    justify-content: center;
    max-width: 100%;   /* never overflow parent */
    height: auto;      /* keeps aspect ratio */
    border-radius: 3px; /* optional: rounded corners */
}
.product_image {
    flex: 1;           /* each product takes equal space */
    max-width: 250px;  /* limit size per item */
}