body {
    background-color: rgb(245, 248, 245);
}

h1 {
    align-content: center;
    padding: 30px;
}

.price{
    display: flex;
}

.prod_list img {
    display: flex;
    justify-content: center;
    max-width: 100%;   /* never overflow parent */
    height: auto;      /* keeps aspect ratio */
    border-radius: 3px; /* optional: rounded corners */
}
.product_image {
    flex: 1;           /* each product takes equal space */
    max-width: 250px;  /* limit size per item */
}